<% if user_signed_in? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="container">
      <form class="navbar-form navbar-left">
        <ul class="nav nav-pills">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to 'Profiles', profiles_path %></li>
          <li><%= link_to 'Places', tweets_path %></li>
          <li>
            <a href="#">Notifications</a>
          </li>
          <li>
            <a href="#">Moments</a>
          </li>
          <li>
            <a href="#">Messages</a>
          </li>
        </ul>
      </form>
      <%= image_tag "twitter.jpg", class: 'icon' %>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <ul class="nav nav-pills">
            <li><input type="text" class="form-control" placeholder="Search"></li>
            <li>
              <a href="#">Submit</a>
            </li>
            <li><%= link_to 'New Tweet', new_tweet_path %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %></li>
          </ul>
        </div>
      </form>
    </div>
  </div>


</nav>
<% end %>
